<% quantity.to_i %>
<% if product = Product.find_by(id: product_id) %>
  <% item_total = product.price * quantity %>
  <% @cart_total += item_total %>
  <p><%= quantity %> <%= product.name %> - $<%= item_total %></p>
<% end %>
